.input{
    border:1px solid #ccc
}
button{
    background: #1e90ff;
    color:#fff;
    height: 20px;
    width: 50px;
    border-radius: 5px;
}
ul{
    margin-left: 12px;
    width: 180px;
    list-style: none;
}
ul .check{
    width: 50px;
    height: 20px;
    background: #ccc;
    display: inline-block;
    float: right;
    text-align: center;
    color:#fff;
    line-height: 20px;
    border-radius: 5px;
    cursor: pointer;
}